run/
.gradle/
build/
gradle-app.setting
out/
logs/
.kotlin
classes/
.vscode
.architectury-transformer

gradle_client_output.txt
gradle_server_output.txt

output/
libs/

## IntelliJ

!.idea/
.idea/*
!.idea/icon.png
*.iml
*.iws
*.ipr

## Eclipse

eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.loadpath

*.launch